{:lein  {:profile "cljs"}
:nrepl  {:port 8230}
:builds {:app
         {:target           :browser
          :modules          {:base {:entries [blog.core]}}
          :output-dir       "resources/blog/public/js/compiled/app/out"
          :asset-path       "js/compiled/app/out"
          :devtools {:http-root    "resources/blog/public"
                     :http-handler shadow.http.push-state/handle
                     :http-port    8280
                     :after-load   blog.core/mount-root
                     :preloads     [devtools.preload re-frisk.preload]}}}}
